dist
language
perf
*.tgz
node_modules
yarn-error.log
test/sanity
src/wre/wre.json
.history
.nyc_output
coverage
.DS_Store
/public/diagram/lib/*
/public/diagram/diagram-index.js
/public/game/lib/*
log/*
wollok.log
.editorconfig