/* place your styles here */
:root {
  --background-color-action: #d8dbe0;
  --color-action: #333;
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.botonera {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 1.2rem;
  width: 10rem;
}

.button {
  border-radius: 2em;
  background-color: var(--background-color-action);
  color: var(--color-action);
  padding: 0.6em 0.3em;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 25px;
  width: 10em;
  height: 4em;
  z-index: 10;
}

.row {
  display: flex;
  flex-direction: row;
}

.row img {
  height: 3em;
  width: 3em;
  position: absolute;
  right: 9.5em;
  align-self: flex-end;
}

#img-mode {
  top: 6em;
}

#img-pin {
  top: 10em;
  right: 9em;
  width: 4em;
  height: 2.75em;
}

.toggle {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: var(--color-action);
  position: absolute;
  right: 3em;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 10;
}

#toggle-mode {
  top: 6em;
}

#toggle-pin {
  top: 10em;
}

/* Making a dot switch inside the Toggle Button */
.toggle::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--background-color-action);
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in;
}

/* Changing toggle button background when checked */
.toggle:checked {
  background-color: var(--background-color-action);
}

/* Changing dot switch color and moving to the right side when checked */
.toggle:checked::before {
  background: var(--color-action);
  left: 32px;
}